body {
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  color: black;

}

p {
  font-size: 20px;
  margin-top: 20px;
}

.hero {
  font-style: inherit;
  color: black;
  background: white;
  text-align: center;
  padding: 60px 20px;
}

.hero p {
  color: black;
  margin-top: 30px;
  font-weight: normal;
  font-size: 22px;
}

.hero h1 {
  font-weight: bold;
  font-size: 35px;
}

.hero h2 {
  font-weight: normal;
  line-height: 2px;
  font-size: 22px;
}

.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 64px;
}

.btn-branding, .button {
  background: black;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.carousel-container {
  width: 80%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px 0;
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.carousel-caption-right {
  text-align: center;
  padding: 20px;
}

.carousel-caption-right h5, .carousel-caption-right p {
  color: black;
  font-size: 22px;
  text-align: center;
  padding: 20px;
}

.carousel-caption-right h5 {
  text-decoration: underline;
  font-weight: bold;
  font-size: 36px;
}


.about-section {
  margin-top: 50px;
  color: black;
  background: white;
  padding: 60px 20px;
}

.about-section h1 {
  font-weight: bold;
}

.about-section h2 {
  font-size: 22px;
}

.content-container {
  flex:1;
}

.content-container {
margin: auto;
}

@media (max-width: 900px) {
  .about-section {
    text-align: center;
  }

  
}
