body {
  background-color: black;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 0;
}

p {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: normal;
  margin: 0;
}

.hero {
  color: white;
  background: black;
  text-align: center;
  padding: 60px 20px;
}

.hero p {
  font-size: 36px;
}

.hero h2 {
  font-weight: normal;
  line-height: 2;
  font-size: 24px;
}

.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 64px; 
}

.btn-branding {
  background: white;
  border-radius: 4px;
  color: black;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}

.carousel-container {
  width: 80%; 
  max-width: 600px; 
  margin: 0 auto; 
  padding: 20px 0; 
}

.carousel-item img {
  width: 100%; 
  height: auto;
  max-height: 400px; 
  object-fit: cover; 
}

.carousel-caption-below {
  text-align: center;
  padding: 10px 0;
}

.carousel-caption-below h5, .carousel-caption-below p {
  color: white; 
}

@media (max-width: 900px) {
  h1 {
      font-size: 18px;
      text-align: center;
  }

  .footer {
      display: none;
  }
}

@media (min-width: 900px) {
  h1 {
      font-size: 36px;
      text-align: left;
  }
}
