body {
  background-color: rgba(0, 0, 0, 0.874);
  font-family:'Courier New', Courier, monospace;
}

p {
  color: white;
  font-weight: bold;
  margin: 0;
}

.hero {
  font-family: 'Courier New', Courier, monospace;
  font-style:inherit;
  color: black;
  background: white;
  text-align: center;
  padding: 60px 20px;
}

.hero p {
  color:black;
  margin-top: 30px;
  font-weight: normal;
  font-size: 27px;

}

.hero h1 {
  font-weight: bold;
  font-size: 35px;
}

.hero h2 {
  font-weight: normal;
  line-height: 2px;
  font-size: 27px;
}

.emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: 64px; 
}

.btn-branding {
  background: black;
  border-radius: 7px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}

.carousel-container {
  width: 80%; 
  max-width: 900px; 
  margin: 0 auto; 
  padding: 20px 0; 
}

.carousel-item img {
  width: 100%; 
  height: auto;
  max-height: 400px; 
  object-fit: cover; 
}

.carousel-caption-right {
  text-align: center;
  padding: 20px;
}

.carousel-caption-right h5, .carousel-caption-right p {
  color: white; 
  font-size: 27px;
  text-align: center;
  padding: 20px;
}

.carousel-caption-right h5 {
  text-decoration: underline;
  font-weight: bold;
  font-size: 36px;
}
.footer {
  text-align: center;
  justify-content: space-around;
  background-color: white;
  color:black;
  font-size: 15px;
}
@media (max-width: 900px) {
  h1 {
      font-size: 18px;
      text-align: center;
  }

  

}
